In [2]:
import numpy as np

In [2]:
a=np.array([[1,2,3,4,5],
          [6,7,8,9,10]])

In [3]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [14]:
a.dtype

dtype('int32')

In [15]:
b=np.ones((2,5),dtype='int32')

In [16]:
b

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [17]:
c=np.concatenate((a,b),axis=1)

In [18]:
c

array([[ 1,  2,  3,  4,  5,  1,  1,  1,  1,  1],
       [ 6,  7,  8,  9, 10,  1,  1,  1,  1,  1]])

In [19]:
c.dtype

dtype('int32')

In [24]:
c.resize((4,5))

In [28]:
d=c.flatten()

In [36]:
d.astype('int32')

array([ 1,  2,  3,  4,  5,  1,  1,  1,  1,  1,  6,  7,  8,  9, 10,  1,  1,
        1,  1,  1])

In [37]:
np.ceil(d)

array([ 1.,  2.,  3.,  4.,  5.,  1.,  1.,  1.,  1.,  1.,  6.,  7.,  8.,
        9., 10.,  1.,  1.,  1.,  1.,  1.])

In [3]:
a=np.arange(100).reshape(20,5)

In [9]:
np.savetxt('test.txt',a,fmt='%d',delimiter=',')

In [11]:
b=np.loadtxt('test.txt',dtype=np.int64,delimiter=',')

In [12]:
b

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64],
       [65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74],
       [75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84],
       [85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94],
       [95, 96, 97, 98, 99]], dtype=int64)

In [15]:
np.loadtxt('E:/Curriculum Design/Get_data_from_douban/datasets/douban_Combine.csv',dtype=np.object0,encoding='utf-8',delimiter=',')

ValueError: Wrong number of columns at line 2