In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(np.arange(10).reshape(2,5))

In [3]:
df

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [4]:
df[0][1]

5

In [5]:
dt={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([9,8,7,6],index=['a','b','c','d'])}

In [6]:
d=pd.DataFrame(dt)

In [7]:
d

   one  two
a  1.0    9
b  2.0    8
c  3.0    7
d  NaN    6

In [8]:
d

   one  two
a  1.0    9
b  2.0    8
c  3.0    7
d  NaN    6

In [9]:
df = pd.DataFrame(data= [[1, 2, 3],[4, 5, 6], [7, 8, 9]], index=['e', 'f', 'g'],columns=['a','b','c'])

In [10]:
df = pd.DataFrame(data= [[1, 2, 3],[4, 5, 6], [7, 8, 9]])

In [11]:
a=df.reindex(index=['e','k','g'],method='bfill')

TypeError: '<' not supported between instances of 'int' and 'str'

In [86]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [88]:
new=df.index.insert(1,3)

In [89]:
df.reindex(index=new)

     0    1    2
0  1.0  2.0  3.0
3  NaN  NaN  NaN
1  4.0  5.0  6.0
2  7.0  8.0  9.0

In [90]:
df.reindex(index=new,method='ffill')

   0  1  2
0  1  2  3
3  7  8  9
1  4  5  6
2  7  8  9

In [93]:
df.drop(2,axis=1)

   0  1
0  1  2
1  4  5
2  7  8

In [94]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [97]:
c=pd.Series(np.arange(2))

In [98]:
c

0    0
1    1
dtype: int32